.health-booklet {
  padding: 40px;
  text-align: center;
}

/* ===== STEPPER ===== */
.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f1ede7;
  border: 2px solid #000;
  font-size: 28px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.step.active .circle {
  background: #d4c5b2;
}

.step span {
  font-size: 14px;
  text-align: center;
}

/* Γραμμή */
.line {
  width: 200px;
  height: 2px;
  background: #000;
  margin-top: 35px;
}

/* STEP 1 text */
.step-description {
  max-width: 600px;
  margin: 0 auto 30px;
  font-size: 14px;
}

.step.clickable {
  cursor: pointer;
}

.step.clickable .circle {
  border-color: #2f6fed;
}

.step.clickable:hover .circle {
  background: #e6eeff;
}

/* Button */
.next-btn {
  padding: 12px 40px;
  background: #2f6fed;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
